# SPDX-FileCopyrightText: © 2023 Nikita Karamov <me@kytta.dev>
#
# SPDX-License-Identifier: BSD-2-Clause

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{LICENSE,*.md,*.txt}]
max_line_length = 80
trim_trailing_whitespace = false

[*.py]
max_line_length = 79

[*.yaml]
indent_size = 2
